*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
h2{
    background-color: rgb(228, 223, 217);
    /* padding: 1%; */
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    width: 90%;
    padding: 2%;
    text-align: center;
    margin:auto;
}

#main{
    background-color: aqua;
    margin: 4%;
    padding: 10%;

}
form{
    text-align: center;
     display: grid;
     text-align: center;
     font-size: larger;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
     background-color: aliceblue;
     width: 50%;
     margin-left: 25%;
}
    
#btn button{

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bold;
    border-radius: 20%;
    width: 10%;

}